body {
	height: 100vh;
	width: 100vw;
	/* font-family: "Questrial"; */
	font-family: "Montserrat";
}

#container {
	background-color: white;
}

#leftCol {
	height: 100vh;
	width: 100vw;
	background-color: white;
}

#rightCol {
	height: 100vh;
	width: 100vw;
	background-color: rgb(66, 194, 153);
}

.infoBar {
	
}

.roomInfo {

}

#messages {

}

#sendBar {
	
}

/* font-weights
 * Thin            100     
 * Extra Light     200
 * Light           300
 * Regular         400
 * Medium          500
 * Semi-Bold       600
 * Bold            700
 * Black           900
 */

/* CSS Selectors
 * .class
 * #id
 * div (elements)
 */