.columns {
	height: 80%;
	background-color: black;
}

.columns #users {
	padding
	background-color: brown;
}

.columns #users {
	padding
	background-color: brown;
}

.columns #messages {
	background-color: blueviolet;
}