#chat {
	padding: 1%;
	height: 80%;
	background-color: rgb(240, 228, 228);
}

#rooms {
	/* margin-top: 1em; */
	padding: 2em;
	height: 48%;
	background-color: rgb(240, 228, 228);
	background-image: linear-gradient(cyan, royalblue);
}

#users {
	padding: 2em;
	margin-top: 2%;
	height: 48%;
	background-color: rgb(240, 228, 228);
	background-image: linear-gradient(cyan, royalblue);
}

#messages {
	margin-left: 1%;
	padding: 2em;
	background-color: rgb(240, 228, 228);
	background-image: linear-gradient(cyan, royalblue);
}

#messagesLeft {
	text-align: left;
}

#messagesRight {
	text-align: right;
}

		
<div id="test1" class="container-fluid">
	<div class="row">
		<div class="col">
			<button type="button" href="#" class="btn btn-default" style='font-size:40px'>
				<i class='fas fa-home'style="font-size:40px"></i>
				Chatroom Name
			</button>
		</div>
	</div>
	<div id="chat" class="row">
		<div class="col rounded">
			<div id="rooms" class="row">
				Chatrooms
			</div>
			<div id="users" class="row">
				Users
			</div>
		</div>
		<div id="messages" class="col-sm-10 rounded">
			Messages
			<table>
				<tr>
					<th id="messagesLeft">
						test
					</th>
					<th id="messagesRight">
						test
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>