extends layout

block styles
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial" type='text/css'>
	link(rel='stylesheet', href='/stylesheets/index.css')
	
block content
	h1.header Login
	form(action='')
		table
			tbody
				tr
					td
						b Login Name
				tr
					td
						input.textfield(type='text', name='log_name')
				tr
					td
						b Password
				tr
					td
						input.textfield(type='password', name='password')
		input.button(type='submit', value='Login')
	hr
	h1.header Register
	form(action='')
		table
			tbody
				tr
					td
						b Login Name
					td
						b Chat Name (Seen by others)
				tr
					td
						input.textfield(type='text', name='log_name')
					td
						input.textfield(type='text', name='chat_name')
				tr
					td
						b Password
					td
						b Color
				tr
					td
						input.textfield(type='password', name='password')
					td
						input.colorpicker(type='color', name='color')
		input.button(type='submit', value='Register')
